
/* css para toda a descriçao do produto */

.descricao{
    color: white;
    width: 50%;
    height: 50px;
    margin-left: 115px;
    padding: 20px 0;
    
}

.descricao h3{
    font-weight: 400;
}


.descricao h2{
    font-weight: 600;
    padding: 10px 0px 0px 0px;
    font-size: 30px;
    margin-bottom: 10px;
}

.avaliacao{
    margin-left: 25px;
}